<tr id="<%= dom_id(car) %>">
  <th scope="row"><%= car.id %></th>
  <td><%= car.name %></td>
  <td><%= car.model %></td>
  <td>Rs. <%= car.rental_price %></td>
  <td><%= car.is_available? %></td>
  <td><%= car.location  %></td>
  <td><%= car.user.full_name  %></td>
  <td><%= car.policies.count  %></td>
  <td><%= image_tag(car.image, width: '50px')  %></td>
  <td>
    <div class="d-flex gap-2">
      <%= link_to car_path(car), class: 'btn btn-dark' do %>
        <%= inline_svg_tag('svg/eye') %>
      <% end %>
      <%= link_to edit_car_path(car), class: 'btn btn-dark', data: { controller: 'bs-modal' } do %>
        <%= inline_svg_tag('svg/pen') %>
      <% end %>
      <%= link_to car_policies_path(car), class: 'btn btn-dark', data: { controller: 'bs-modal'} do %>
        <i class="bi bi-journal-text"></i>
      <% end %>
      <%= button_to car_path(car), class: 'btn btn-danger', method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
        <%= inline_svg_tag('svg/trash') %>
      <% end %>
    </div>
  </td>
</tr>