<%= render 'partials/offcanvas' %>

<div class="container mb-0 mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <div class="user_details">
      <h1 class="fw-bold">Dashboard</h1>
      <p class="text-muted"><%= current_user.email %></p>
    </div>
    <div class="user_avatar">
      <%= image_tag(user_avatar(current_user), width: '80', height: '80', class: 'rounded-circle border')%>
    </div>
  </div>
  <hr>
  <div class="row mt-5">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Cars Count</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @cars.count %></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Comments Count</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">100</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                Followers </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">24</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                Following</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">500+</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-5 mb-5">
    <div class="col-lg-6">
      <div class="card p-3 mt-2">
        <p class="text-muted">Cars(In Linechart)</p>
        <%= line_chart @cars.group_by_day(:created_at, range: 1.week.ago...Time.now).count %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card p-3 mt-2">
        <p class="text-muted">Cars(In Piechart)</p>
        <%= pie_chart @cars.group_by_day(:created_at, range: 1.week.ago...Time.now).count %>
      </div>
    </div>
  </div>
</div>

