<div class="p-5 text-center bg-body-tertiary rounded-3">
  <%= inline_svg_tag("svg/#{svg_name}.svg", width: '260px', height: '200px') %>
  <h1 class="main_header mb-2 mt-4"><%= title %></h1>
  <p class="col-lg-8 mx-auto fs-5 text-muted">
    <%= paragraph %>
  </p>
  <% if invite_user %>
    <%= link_to 'Invite User', new_user_invitation_path, class: 'btn btn-primary w-50', data: { controller: 'bs-modal'} %>
  <% elsif new_car %>
    <%= link_to 'Add Car', new_car_path, class: 'btn btn-primary w-50' %>
  <% end %>
</div>