<div id="user-id" class="d-none"><%= user_signed_in? ? current_user.id : '' %></div>
<nav class="navbar navbar-expand-lg glassmorphism fixed-top mb-5">
  <div class="container p-2">
    <%= link_to image_tag('vroom/logo', width: '150px', class: 'navbar-brand'), root_path %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-end" id="navbarSupportedContent"> 
      <ul class="navbar-nav mb-lg-0 gap-2 ms-auto"> 
        <li class="nav-item">
          <%= link_to root_path, class: "nav-link d-flex justify-content-center align-items-center gap-2 #{ active_link("pages", "fw-bold", "", "home") }" do %>
            <i class="bi <%= active_link("pages", "bi-houses-fill", " bi-houses", "home")%> fs-5"></i> Home
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to cars_path, class: "nav-link d-flex justify-content-center align-items-center gap-2 #{ active_link("cars", "fw-bold", "", "index") }" do %>
            <i class="bi <%= active_link("cars", "bi-truck-front-fill", "bi-truck-front", "index")%> fs-5"></i> Cars
          <% end %>
        </li>
        <% if current_user && current_user.seller_or_admin?%>
          <li class="nav-item">
            <%= link_to notifications_path, class: 'nav-link d-flex justify-content-center align-items-center', data: { controller: 'bs-modal'} do%>
              <i class="bi h4 <%= active_link("notification", " bi-bell-fill", " bi-bell", "index") %> "></i>
                <span class="translate-middle badge rounded-pill bg-primary" id="notification_count_<%= current_user.id%>">
                  <%= current_user.notifications.count %>
                </span>
              </i>
            <% end %>
          </li>
        <% end %>
        <% if current_user %>
        <li class="nav-item d-flex justify-content-center align-items-center">
          <div class="dropdown">
            <a href="#" class="nav-link d-block link-body-emphasis text-decoration-none dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag(user_avatar(current_user), width: '32', height: '32', class: 'rounded-circle')%>
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="navbarDropdown">
              <li><%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item text-muted' %></li>
              <li><hr class="dropdown-divider"></li>
              <%= button_to 'Logout', destroy_user_session_path, class: 'text-danger dropdown-item text-danger', method: :delete, data: { turbo_method: :delete, turbo_confirm: 'You sure?' } %>
            </ul>
          </div>
        </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link btn btn-success text-white' do %>
              <i class="bi bi-rocket-takeoff"></i> Get Started
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
