<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 100%; height: 100vh;" >
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4"><%= current_user.full_name %></span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <%= link_to "My Garage", dashboard_cars_path, class: "#{active_link("dashboard", "btn btn-dark", "btn", active_action="cars")} w-100 text-start" %>
        </li>
        <% if current_user.admin? %>
          <li class="nav-item mt-3">
            <%= link_to "Users", dashboard_users_path, class: "#{active_link("dashboard", "btn btn-dark", "btn", active_action="users")} w-100 text-start" %>
          </li>
        <% end %>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag(user_avatar(current_user), class: 'rounded-circle me-2', width: '32', height:'32')%>
          <strong><%= current_user.full_name %></strong>
        </a>
        <ul class="dropdown-menu text-small">
          <li><%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item' %></li>
          <li><hr class="dropdown-divider"></li>
          <%= button_to 'Logout', destroy_user_session_path, class: 'text-danger dropdown-item', method: :delete, data: { turbo_method: :delete, turbo_confirm: 'You sure?' } %>
        </ul>
      </div>
  </div>
</div>