<aside id="sidebar" class="navbar_primary shadow-lg position-fixed" style="height: 100vh;">
  <div class="text-end">
    <button class="btn text-white sidebar-toggler" type="button">
      <i class="bi bi-x-lg navbar-toggler-icon"></i>
    </button>
  </div>
  <div>
    <div class="dashboard_sidebar_details border-bottom">
      <div class="sidebar-logo mt-2 text-center text-white">
        <%= link_to image_tag('vroom/logo_circular_inverted.png', width: '100', height: 'auto'), dashboard_path %>
      </div>
      <div class="sidebar_text_details mt-2 mb-3 text-center">
        <small class="text-white">Seamlessly Handle & <br> Organize Your Site's Data.</small>
      </div>
    </div>
    <ul class="navbar-nav mt-4"> 
      <li class="nav-item">
        <%= link_to dashboard_cars_path, class: "nav-link text-white d-flex justify-content-start mx-5 align-items-center gap-2 #{ active_link("dashboard", "fw-bold", "", "cars") }" do %>
          <i class="bi <%= active_link("dashboard", "bi-houses-fill", " bi-houses", "cars")%> fs-5"></i> Cars
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to dashboard_bookings_path, class: "nav-link text-white mt-3 d-flex justify-content-start mx-5 align-items-center gap-2 #{ active_link("cars", "fw-bold", "", "index") }" do %>
          <i class="bi <%= active_link("dashboard", "bi-truck-front-fill", "bi-truck-front", "bookings")%> fs-5"></i> Bookings
        <% end %>
      </li>
      <% if current_user.admin? %>
        <li class="nav-item">
          <%= link_to dashboard_users_path, class: "nav-link text-white mt-3 d-flex justify-content-start mx-5 align-items-center gap-2 #{ active_link("cars", "fw-bold", "", "index") }" do %>
            <i class="bi <%= active_link("dashboard", "bi bi-people-fill", "bi bi-people", "users")%> fs-5"></i> Users
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</aside>