<div id="<%= dom_id booking %>">
  <p>
    <strong>Start date:</strong>
    <%= booking.start_date %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= booking.end_date %>
  </p>

  <p>
    <strong>Pickup location:</strong>
    <%= booking.pickup_location %>
  </p>

  <p>
    <strong>Drop location:</strong>
    <%= booking.drop_location %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= booking.comment %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= booking.duration_in_days %>
  </p>

</div>
