<div class="accordion mt-2" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%= id %>" aria-expanded="true" aria-controls="panelsStayOpen-collapse<%= id %>">
        <%= question %>
      </button>
    </h2>
    <div id="panelsStayOpen-collapse<%= id %>" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <%= answer.html_safe %>
      </div>
    </div>
  </div>
</div>