<div class="container">
  <%= turbo_frame_tag "calendar", data: { turbo_action: 'advance'} do %>
    <%= month_calendar(events: @bookings, attribute: :start_date, end_attribute: :end_date) do |date, bookings| %>
        <div class="day p-4">
          <%= date.strftime('%d') %>
        </div>
        <% bookings.each do |booking| %>
          <%= link_to bookings_details_path(booking.id), data: { controller: 'bs-modal'}, class: 'text-white text-decoration-none' do %>
            <span class="w-100 fw-bold <%= status_background(booking)%> d-flex justify-content-center align-item-center mt-1" style="height: 18px !important; font-size: 11px; overflow: hidden;">
              <%= booking.drop_location %>
            </span>
          <% end %>
        <% end %>
    <% end %>
  <% end %>
</div>