<div class="container" style="margin-top: 100px;">
  <div class="col-md-12">
    <div class="h-100 p-5 bg-primary border rounded-3">
      <div class="text-white d-flex gap-3 justify-content-center align-items-center fw-bold">
        <i class="bi bi-journal-text display-5 fa-beat-fade"></i>
        <h1 class="display-5 fw-medium">Guides</h1>
      </div>
    </div>
  </div>
  <hr class="featurette-divider mt-5">

  <div class="row featurette mt-3 d-flex align-items-center">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Login/Signup</h2>
      <p class="lead">Open the Vroom app on your device.
      If you are a new user, sign up by providing necessary details like name, email, and password.
      If you are an existing user, simply log in with your credentials.</p>
    </div>
    <div class="col-md-5">
      <%= inline_svg_tag('svg/users.svg', class: 'bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto',width: "500", height: "auto") %>
    </div>
  </div>

  <hr class="featurette-divider mt-5">

  <div class="row featurette mt-3 d-flex align-items-center">
    <div class="col-md-5">
      <%= inline_svg_tag('svg/booking.svg', class: 'bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto',width: "500", height: "auto") %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Choose Your Location and Date</h2>
      <p class="lead">Select your desired location where you want to pick up the car (e.g., airport, city center).
    Choose the date and time for both pick-up and drop-off of the car.</p>
    </div>
  </div>

  <hr class="featurette-divider mt-5">

  <div class="row featurette mt-3 d-flex align-items-center">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Select an Appropriate Car</h2>
      <p class="lead">Click on a car to view detailed information including photos, specifications, rental rates, and reviews.
      Choose the car that best suits your needs and budget.</p>
    </div>
    <div class="col-md-5">
      <%= inline_svg_tag('svg/bookings.svg', class: 'bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto',width: "500", height: "auto") %>
    </div>
  </div>

  <hr class="featurette-divider mt-5">

  <div class="row featurette mt-3 d-flex align-items-center">
    <div class="col-md-5">
      <%= inline_svg_tag('svg/car.svg', class: 'bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto',width: "500", height: "auto") %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Book the Car</h2>
      <p class="lead">Once you've selected a car, proceed to the booking section.
      Enter any additional details required for booking (e.g., driver's information, insurance options).
      Review the booking summary including rental cost and any applicable fees.</p>
    </div>
  </div>

  <hr class="featurette-divider mt-5">

  <div class="row featurette mt-3 d-flex align-items-center">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Enjoy Your Ride</h2>
      <p class="lead">Take the keys and enjoy your rental period.</p>
    </div>
    <div class="col-md-5">
      <%= inline_svg_tag('svg/riding.svg', class: 'bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto',width: "500", height: "auto") %>
    </div>
  </div>

  <hr class="featurette-divider mt-5">

  <div class="row featurette mt-4 d-flex align-items-center">
    <div class="col-md-5">
      <%= inline_svg_tag('svg/ratings.svg', class: 'bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto',width: "500", height: "auto") %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Rate Your Experience</h2>
      <p class="lead">After returning the car, you may be prompted to rate your experience with the rental and the vehicle.
        Provide feedback and rate the car rental service to help other users.</p>
    </div>
  </div>

  <div class=" p-5 text-center text-muted bg-primary rounded-5 mb-5">
    <i class="bi bi-check2-circle display-3 text-white fa-beat-fade "></i>
    <h1 class="fw-bold mt-3 text-white">Ready to Hit the Road?</h1>
    <p class="col-lg-6 mx-auto mb-4 mt-3 text-white">
      If you've finished reviewing the guide, let's go ahead and book a car now! We've covered all the details, so it's the perfect time to make your reservation. Simply select your preferred dates and vehicle type, and we'll handle the rest.
    </p>
    <%= link_to 'Start Booking', cars_path, class: 'btn btn-light text-primary w-50' %>
  </div>

</div>
