<tr id="<%= dom_id(booking) %>" class=" <%= table_background(booking) %>">
  <td><%= booking.start_date %></td>
  <td><%= booking.end_date %></td>
  <td><%= booking.duration_in_days %></td>
  <td><%= image_tag(booking.car.image.first, width: '25px', height: '25px', class: 'rounded-circle') %> <%= booking.car.name %></td>
  <td><%= booking.car.user.email %></td>
  <td class="fw-bold">
    <%= booking.status.capitalize %>
  </td>
  <td>
    <div class="dropdown">
      <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">
      </a>
      <ul class="dropdown-menu">
        <%= button_to car_booking_path(booking.car.id, booking.id), method: :delete, data: { turb_method: :delete, turbo_confirm: "Once the booking is cancelled it can't be undone!" }, class: 'dropdown-item btn btn-danger w-100 text-light' do %>
          Cancel <%= inline_svg_tag('svg/trash.svg') %>
        <% end %>
      </ul>
    </div>
  </td>
</tr>