<div class="card" style="width: 20rem;">
  <%= link_to image_tag(car.image, width: '300px', height: 'auto'), car_path(car) %>
  <span class="position-absolute top-0 start-0 translate-middle p-2 <%= class_for_available(car)%> border border-light rounded-circle">
  </span>
  <div class="card-body">
    <h5 class="card-title fw-bold"><%= car.name %></h5>
    <h2 class="card-title fw-bolder btn btn-dark text-white w-100">Rs. <%= car.rental_price %><small class="fw-light">\hr</small></h2>
    <div class="d-flex justify-content-between align-items-center text-muted mt-2">
      <span><%= car.brand %></span>
      <span><%= car.location %></span>
    </div>
  </div>
</div>