<div class="row p-4 g-0 border rounded overflow-hidden justify-content-between align-items-center flex-md-row mb-4 shadow-sm h-md-250 position-relative <%= car.booked? ? 'bg-danger-subtle' : '' %>">
  <div class="col-lg-4 d-flex justify-content-center align-items-center">
    <div class="swiper car_basics_details">
      <div class="swiper-wrapper">
        <% car.image.each do |image| %>
          <a href="<%= car_path(car) %>" class="swiper-slide">
            <%= image_tag(image, class: "img-fluid w-75 rounded") %>
          </a>
        <% end %>
      </div>
      <div class="swiper-button-prev rounded"></div>
      <div class="swiper-button-next rounded"></div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="car_details d-flex justify-content-between align-items-center mt-3">
      <div class="d-flex justify-content-between align-items-start flex-column">
        <span class="badge text-<%= car.booked? ? 'bg-danger' : class_for_available(car, 'bg') %>"><%= car.is_available? %></span>
        <h3 class="mb-2 mt-2 display-6"><%= link_to car.name, car_path(car), class: 'text-decoration-none text-dark' %></h3>
        <p class="mb-2 text-muted"><i class="bi bi-speedometer2"></i> <%= car.mileage_in_km %> km</p>
        <p class="mb-2 text-muted"><i class="bi bi-ev-front"></i> <%= car.car_type %></p>
        <p class="mb-2 text-muted"><i class="bi bi-geo-fill"></i> <%= car.location %></p>
      </div>
      <div class="car_booking d-none d-sm-block">
        <% unless car.booked? || !car.availability?  %>
          <h3 class="fw-bold"><%= car.price %></h3>
          <%= link_to 'Book Now', root_path,class: 'w-100 btn btn-primary mt-4', data: { turbo_frame: '_top', controller: 'bs-modal' } %>
          <small class="text-muted">*T & C applied</small>
        <% end %>
      </div>
    </div>
  </div>
</div>
