<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <% if @car.image.attached? %>
          <div class="rounded-4 mb-3 d-flex justify-content-center" data-controller="lightbox">
            <%= image_tag(@car.image.first, id: "main-image", style: "max-width: 100%; max-height: 100vh; margin: auto;", class: "rounded-4 fit") %>
          </div>
          <div class="d-flex justify-content-center mb-3 gap-2" data-controller="lightbox">
            <% @car.image.each_with_index do |thumb_image, index| %>
              <%= image_tag(thumb_image, width: 60, height: 60, class: "rounded-2 border thumb-image", data: { fullImage: thumb_image }) %>
            <% end %>
          </div>
        <% else %>
          <div class="rounded-4 mb-3 d-flex justify-content-center" data-controller="lightbox">
            <%= image_tag('svg/error', id: "main-image", style: "max-width: 70%; max-height: 70vh; margin: auto;", class: "rounded-4 fit") %>
          </div>
        <% end %>
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="title text-dark">
              <%= @car.name %>
            </h4>
            <div class="mb-3 d-flex gap-2 justify-content-center align-items-center">
              <span class="badge text-<%= @car.booked? ? 'bg-danger' : class_for_available(@car, 'bg') %>"><%= @car.is_available? %></span>
              <small class="text-primary"><i class="bi bi-share mx-1"></i><%= link_to 'Share', share_car_path(@car), data: { controller: 'bs-modal'}, class: 'text-decoration-none' %></small>
            </div>
          </div>
          <p>
            <%= @car.description %>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, necessitatibus minus. Maiores, sed error dolores reiciendis repellat.
          </p>
          <hr>
          <div class="col-12 col-md-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th scope="row" class="col-3">Brand:</th>
                    <td class="col-9"><%= @car.brand %></td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-3">Model:</th>
                    <td class="col-9"><%= @car.model %></td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-3">Mileage:</th>
                    <td class="col-9"><%= @car.mileage %></td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-3">Insurance:</th>
                    <td class="col-9"><%= @car.insurance %></td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-3">Color:</th>
                    <td class="col-9"><%= @car.color %></td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-3">Available:</th>
                    <td class="col-9"><%= @car.availability %></td>
                  </tr>
                  <tr>
                    <th scope="row" class="col-3">Policies:</th>
                    <td class="col-9"><%= link_to 'View Policies', car_policies_path(@car), data: { controller: 'bs-modal' } %></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <% if @car.room.present? %>
              <div class="bg-primary-subtle p-3 rounded">
                <p>Have questions about your car? Our support center is here to help! Click below to chat with us for more details.</p>
                <%= link_to 'Suppot Center', room_path(@car.room.first.id),class: "btn btn-primary w-100" %>
              </div>
            <% end %>
          </div>
        </div>
      </main>
    </div>
  </div>
</section>

<section class="bg-light border-top py-4">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-7 mb-4">
        <div class="border rounded-2 px-3 py-2 bg-white">
          <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-between w-100">Reviews & Comments <%= inline_svg_tag('svg/comment') %></a>
            </li>
          </ul>
          <div class="tab-content" id="ex1-content">
            <div>
              <p>
                With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam.
              </p>
              <div class="row mb-2">
                <div class="col-12 col-md-12">
                  <%= turbo_stream_from "comments_#{dom_id(@car)}" %>
                  <div id="comment-form">
                    <%= render 'comments/form' %>
                  </div>
                </div>
              </div>
              <div id="comments">
                <% @comments.each do |comment| %>
                  <%= render 'comments/comment', comment: comment %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="px-0 rounded-2 position-sticky" style="top: 5rem;">
          <div class="card">
            <div class="card-body">
              <% if @car.availability %>
                <h5 class="card-title fs-4"><%= @car.price %></h5>
                <p class="text-muted">Bookings older than today gets deleted every 7 days.</p>
                <hr>
                <% if current_user.bookings.exists?(car_id: @car.id) %>
                  <%= render 'bookings/booked' %>
                <% else %>
                  <div data-controller="bookings" 
                        data-blocked-dates="<%= @blocked_dates %>" 
                        data-user-verified="<%= current_user.verified? %>"
                        >
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="d-flex flex-column mt-2">
                          <label for="start_date">Start Date</label>
                          <input class="form-control" type="text" name="start_date" id="start_date" value="" placeholder="Select start date" data-bookings-target="startDate">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="d-flex flex-column mt-2">
                          <label for="end_date">End Date</label>
                          <input class="form-control" type="text" name="end_date" id="end_date" placeholder="Select end date" value="" data-bookings-target="endDate">
                        </div>
                      </div>
                      <div class="col-lg-6 mt-3" data-controller="location">
                        <label for="start_date">Pickup Location</label> <small class="mx-2 text-primary" id="location-message"></small>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Enter your home location" value="<%= current_user.location %>" name="user[location]" data-bookings-target="pickupLocation" id="location-details" >
                          <button class="btn btn-primary" type="button" id="get-location" data-action="click->location#initialize"><i class="bi bi-geo-alt"></i></button>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="d-flex flex-column mt-3">
                          <label for="drop_location">Drop Location</label>
                          <input class="form-control" type="text" placeholder="Select Drop Location" name="drop_location" id="drop_location" data-bookings-target="dropLocation">
                        </div>
                      </div>
                      <div class="d-flex flex-column mt-3">
                        <label for="comment">Comment <span class="text-body-secondary">(Optional)</span></label>
                        <textarea cols="2" rows="3" class="form-control" type="text" placeholder="Comment if any?" name="comment" id="comment" data-bookings-target="comment"></textarea>
                      </div>
                    </div>
                    <button class="btn btn-primary w-100 mb-4 mt-4" data-reserve-property-url="<%= new_car_booking_path(@car) %>" type="submit" data-action="click->bookings#reserveProperty">Reserve</button>
                    <div data-bookings-target="calculations" class="d-none">
                      <li class="list-group-item d-flex justify-content-between mt-3">
                        <div class="calculations">
                          Rs. <span data-bookings-target="baseFair"><%= @car.rental_price %></span> * <span data-bookings-target="daysCount"></span><small class="text-muted"></small>
                        </div>
                        <div class="result">
                          <span class="text-danger" data-bookings-target="fairWithOutServiceFee"></span>
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between mt-3">
                        <span>VROOM SERVICE FEE</span>
                        <span><%= current_user.verified? ? '0' : '10' %>%</span>
                      </li>
                      <hr>
                      <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <span>Total (Rs)</span>
                          <h4 class="fw-bold" data-bookings-target="totalFair"></h4>
                        </li>
                      </ul>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <%= render 'partials/error', message: "#{@booked_by_user ? 'The car has been Reserved.' : 'Car Not Available.'}", paragraph: "#{@booked_by_user ? 'Since the car has already been reserved, it cannot be booked twice. You have the option to cancel the request and make a new one.' : 'At the moment, the car cannot be booked. Please try again when it becomes available.'}", booked_by_user: @booked_by_user  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>