<div class="container mt-5">
  <div class="row shadow p-5">
    <div class="col-md-7">
      <div class="d-flex justify-content-between align-items-center text-center">
        <h2 class="featurette-heading fw-bold"><%= @car.name %></h2>
      </div>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      <h2 class="card-title fw-bolder btn btn-dark btn-lg text-white"><%= @car.price %></h2>
    </div>
    <div class="col-md-5">
        <p class="text-muted text-end"><%= inline_svg_tag('svg/eye', width: '22px', height: '22px') %><span class="mx-1 mb-2"><%= pluralize(@car.views, 'view') %></span></p>
      <%= image_tag(@car.image, class: "img-fluid mx-auto", width: '1000px', height: 'auto') %>
    </div>
  </div>  

  <div class="row mt-5 shadow p-2 mb-5">
    <div class="col-lg-4 rounded mt-3">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted fw-bold">Car Details</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between bg-light">
          <h6 class="my-0">Brand</h6>
          <small><%= @car.brand %></small>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <h6 class="my-0">Availabe</h6>
          <small><%= @car.availability %></small>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Color</h6>
          </div>
            <small style="color: <%= @car.color %>"><%= @car.color %></small>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <h6 class="my-0">Mileage</h6>
          <small><%= @car.mileage_in_km %></small>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <h6 class="my-0">Location</h6>
          <small><%= @car.location %></small>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <h6 class="my-0">Insurance</h6>
          <small><%= @car.insurance %></small>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <h6 class="my-0">Type</h6>
          <small><%= @car.car_type %></small>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <h6 class="my-0">Policies</h6>
          <small><%= link_to 'View Policies', car_policies_path(@car), data: { controller: 'bs-modal'} %></small>
        </li>
      </ul>
    </div>
    <div class="col-lg-8 rounded col-md-12 mt-3">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted fw-bold">Comments</span>
      </h4>
      <div id="comment-form">
        <%= render 'comments/form' %>
      </div>
      <div id="comments">
        <% @comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>
      </div>
    </div>
  </div>
</div>
