<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'DRIVE THE BEST - VROOM' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <% if user_signed_in? %>
      <%= tag :meta, name: "current-user", data: { id: current_user.id } %>
    <% end %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
    <style>
    <%= ".msg-#{current_user&.id}" %> {
      background-color: #007bff !important;
      padding: 15px;
      color: white;
      border-radius: 5px;
      float: right;
    }
    <%= ".cont-#{current_user&.id}" %> {
      display: flex;
      justify-content: flex-end;
    }
  </style>

  <style>
    <%= ".msg-#{current_user&.id}" %> {
      background-color: #007bff !important;
      padding: 15px;
      color: white;
      border-radius: 5px;
      float: right;
    }
    <%= ".cont-#{current_user&.id}" %> {
      display: flex;
      justify-content: flex-end;
    }
  </style>

  <body>
    <div id="flash" class="flash">  
      <%= render "partials/flash" %>
    </div>

    <% if is_dashboard_path? %>
      <%= render 'partials/offcanvas_btn' %>
    <% end %>

    <% unless is_devise_path? || is_dashboard_path? %>
      <%= render 'partials/navbar' %>
    <% end %>

    <%= yield %>

    <%= turbo_frame_tag "remote_modal" %>

    <%= render 'partials/bottom_flash' %>
  </body>
</html>
