<%= turbo_frame_tag policy do %>
  <%= form_with(model: [@car, @car.policies.build], url: car_policies_path(@car), local: true) do |form| %>
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class: 'form-control', value: params[:title] %>
        <% if @policy.errors.any? %>
          <% @policy.errors.full_messages_for(:title).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        <% end %>
    </div>

    <div>
      <%= form.hidden_field :car_id, value: @car.id %>
    </div>

    <div>
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div>
      <%= form.submit class: 'btn btn-primary w-100 mt-3' %>
    </div>
  <% end %>
<% end %>
